{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<h3>Cart</h3>
<a href="{{ '/' }}">home</a>
        <span>
            <a 
                href="{{path('delete_item', {id: 0,action: 'delete_all'})}}" 
                class="btn btn-sm btn-danger pull-right">
                Empty Cart
            </a>
        </span>
        <table class="table table-striped table-middle-aligned">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Product</th>
                    <th scope="col" class="text-center">Price(LKR)</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-center">Total(LKR)</th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% if cart is defined %}
                    {% set total = 0 %}
                    {% for cartItem in cart %}
                        <tr>
                            <td>{{cartItem.product_name}}</td>
                            <td class="text-center">
                                {{
                                    cartItem.unit_price|number_format(2, '.', ',')
                                }}
                            </td>
                            <td class="text-center">{{cartItem.quantity}}</td>
                            <td class="text-center">
                                {{
                                    cartItem.item_total|number_format(2, '.', ',')
                                }}
                            </td>
                            <td>
                                <button
                                    onclick="deleteCartItem({{cartItem.product_id}})"
                                    class="btn btn-sm btn-danger">
                                X
                            </button>
                            </td>
                        </tr>
                        {% set total = total + cartItem.item_total %}
                    {% endfor %}
                    <tr>
                        <td colSpan="3">Total</td>
                        <td class="text-center">
                            {{ total|number_format(2, '.', ',') }}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                    <td colSpan="5"> 
                        <a 
                            href="{{ path('checkout')}}" 
                            class="btn btn-sm btn-primary">
                            Checkout
                        </a>
                    </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <script>

    function deleteCartItem(id){
        if (confirm("Do you want to delete this item from cart")) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var jsonObj = JSON.parse(this.responseText);
                    if(jsonObj.isDelete){
                        location.reload();
                    }else{
                        alert("Some thing went wrong");
                    }
                }
            };
            xhttp.open("GET", "/product/deleteCartItem/"+id+"/delete_item",true);
            xhttp.send();
        } else {
            txt = "You pressed Cancel!";
        }
    }
</script>
{% endblock %}
