{# templates/user/register.html.twig #}


{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    <button type="submit">Register</button>
    {{ form_end(form) }}
{% endblock %}
